<div class="row">
  <div class="col-md-3 col-lg-3 col-sm-3 col-sx-3">
    <a href="#" class="btn btn-primary btn-lg withripple" disabled="disabled">Setting</a>
  </div>
  <div class="col-md-3 col-lg-3 col-sm-3 col-sx-3">
    <a href ="#" class="btn btn-primary btn-lg withripple" disabled="disabled">Users</a>
  </div>
  <div class="col-md-3 col-lg-3 col-sm-3 col-sx-3">
    <a href="#" class="btn btn-primary btn-lg withripple" disabled="disabled">Support</a>
  </div>
  <div class="col-md-3 col-lg-3 col-sm-3 col-sx-3">
    <a href="#/sync" class="btn btn-primary btn-lg withripple">Synchronize</a>
  </div>
</div>
