<div class="page-header">
  <h3>Synchronization</h3>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-sx-6">
    <p>Last sync: <strong>{{lastSync | date: 'medium'}}</strong></p>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-sx-6">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-sx-3">
        <a ng-click='emulateSync()' class="btn btn-warning btn-sx withripple">Sync now</a>
      </div>

      <div class="col-lg-9 col-md-9 col-sm-9 col-sx-9">
        <div class="progress progress-striped active" style="margin-top:12px;" ng-show='progress'>
          <div class="progress-bar" ng-style="{'width': progress + '%'}"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-sx-6">
    <form class="form-horizontal"><fieldset>
      <div class="form-group">
        <label for="select" class="col-lg-2 control-label">Sync mode</label>
        <div class="col-lg-10">
            <div class="form-control-wrapper">
              <select class="form-control" id="select" ng-model='mode'>
                <option ng-repeat="syncMode in modes">{{syncMode}}</option>
              </select>
            </div>
        </div>
      </div>
    </fieldset></form>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-sx-6">
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-sx-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Sync journal</h3>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Satus</th>
            <th>Conflict</th>
            <th>Elements</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='sync in synchronizations'>
            <td>{{sync.date | date: 'medium'}}</td>
            <td>{{sync.status}}</td>
            <td>{{sync.conflict}}</td>
            <td>{{sync.syncedElements}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-sx-6">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default" ng-repeat='type in listUnique("type")'>
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{type}}" href="">
              {{type}}
            </a>
          </h4>
        </div>
        <div id="collapse{{type}}" class="panel-collapse collapse">
          <ul class="list-group">
            <li ng-repeat='item in journal | filter: {type: type}' class="list-group-item">
              <p class="text-muted">ID: {{item.id}}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
